apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - base/gatewayclass.yaml
  - base/gateway.yaml

helmCharts:
  # Install CRDs first (cluster-scoped, no namespace needed)
  - name: gateway-crds
    version: v1.6.3
    releaseName: envoy-gateway-crds
    repo: oci://docker.io/envoyproxy
  # Install Envoy Gateway controller
  - name: gateway-helm
    version: v1.6.3
    releaseName: envoy-gateway-helm
    repo: oci://docker.io/envoyproxy
    valuesFile: values.yaml
    namespace: envoy-gateway
